{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center mb-0" style="background-color:#fff">
        <div class="container">
            <h1 class="jumbotron-heading">AgileHub Events</h1>
            <p class="lead text-muted mb-0">Oferim gratuit pregătire în domeniul tehnologiei informaţiei IT-iştilor braşoveni.</p>
        </div>
    </section>

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://agilehub.ro/wp-content/uploads/2015/11/Seara-Prezentărilor-AgileHub-Git-și-Gerrit-3-e1478464465849.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Introducere în C++</h4>
                            <h6 class="card-subtitle mb-2 text-muted">09.12.2018 11:00 @ Braşov</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum placerat elit, vel elementum ex.</p>
                            <a href="#" class="btn btn-sm btn-outline-secondary">Detalii și înscriere</a>
                        </div>
                    </div>
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://agilehub.ro/wp-content/uploads/2015/11/Seara-prezentărilor-AgileHub-New-Relic-și-Splunk.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Titlul workshop-ului 2</h4>
                            <h6 class="card-subtitle mb-2 text-muted">09.12.2018 11:00 @ Braşov</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum placerat elit, vel elementum ex.</p>
                            <a href="#" class="btn btn-sm btn-outline-secondary">Detalii și înscriere</a>
                        </div>
                    </div>
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://agilehub.ro/wp-content/uploads/2015/02/Curs-ASP.MVC-Andrei-RÎNEA-AgileHub-2015-februarie-micșorat.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Titlul workshop-ului 3</h4>
                            <h6 class="card-subtitle mb-2 text-muted">09.12.2018 11:00 @ Braşov</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum placerat elit, vel elementum ex.</p>
                            <a href="#" class="btn btn-sm btn-outline-secondary">Detalii și înscriere</a>
                        </div>
                    </div>
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://agilehub.ro/wp-content/uploads/2015/02/DSC_0737.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Titlul workshop-ului 4</h4>
                            <h6 class="card-subtitle mb-2 text-muted">09.12.2018 11:00 @ Braşov</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum placerat elit, vel elementum ex.</p>
                            <a href="#" class="btn btn-sm btn-outline-secondary">Detalii și înscriere</a>
                        </div>
                    </div>
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://agilehub.ro/wp-content/uploads/2015/02/DSC_0747.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Titlul workshop-ului 5</h4>
                            <h6 class="card-subtitle mb-2 text-muted">09.12.2018 11:00 @ Braşov</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum placerat elit, vel elementum ex.</p>
                            <a href="#" class="btn btn-sm btn-outline-secondary">Detalii și înscriere</a>
                        </div>
                    </div>
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://agilehub.ro/wp-content/uploads/2015/03/Training-Kanban-AgileHub-20150314.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Titlul workshop-ului 6</h4>
                            <h6 class="card-subtitle mb-2 text-muted">09.12.2018 11:00 @ Braşov</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum placerat elit, vel elementum ex.</p>
                            <a href="#" class="btn btn-sm btn-outline-secondary">Detalii și înscriere</a>
                        </div>
                    </div>
                </div><!-- /.col-md-4 -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.py-5.bg-light -->
{% endblock body %}