{% extends 'base.html.twig' %}

{% block title %}Vizualizare {{ parent() }}{% endblock %}

{% block body %}
    <div class="py-5 bg-light">
        <div class="container">
            <div class="card mb-4 shadow-sm">

                <div class="card-body">
                    <h2 class="card-title">Introducere în C++</h2>
                    <h3 class="card-subtitle mb-2 text-muted">09.12.2018 11:00 @ Braşov</h3>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-md-8">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum placerat elit, vel elementum ex. Nullam fermentum diam cursus iaculis imperdiet. Proin auctor sollicitudin ligula vel blandit. Fusce sit amet egestas nisi, sed vulputate urna. Vestibulum fermentum tincidunt nunc, vitae maximus eros porttitor et. Phasellus viverra ipsum id ex vulputate semper. Vestibulum molestie ante eget lobortis mollis. Donec at purus quam. Vestibulum tortor metus, iaculis a egestas at, maximus eget risus. Proin facilisis libero a ligula fringilla consectetur. Aenean interdum sed ipsum quis blandit. Integer blandit auctor nibh id hendrerit. Nunc suscipit, leo at bibendum aliquet, mauris ex sollicitudin lectus, in fringilla magna augue ac ipsum.</p>
                                <p>Quisque auctor aliquet semper. Fusce in auctor arcu, ut tempus quam. Fusce posuere fringilla libero eu fermentum. Nullam lobortis enim posuere nibh blandit mattis. Ut aliquam vulputate nisl. Quisque dictum dictum sapien, ut scelerisque tortor lacinia id. Aliquam ut rutrum sapien, ac lacinia massa. Curabitur fermentum ante elit, in efficitur nulla semper facilisis. Cras tincidunt purus augue, vitae elementum dui viverra ac. Aenean non convallis libero.</p>
                            </div><!-- /.col-md-8 -->
                            <div class="col-md-4">
                                <img class="img-fluid" src="https://agilehub.ro/wp-content/uploads/2015/11/Seara-Prezentărilor-AgileHub-Git-și-Gerrit-3-e1478464465849.jpg" alt="Image tite">
                            </div><!-- /.col-md-4 -->
                        </div><!-- /.row -->
                    </div><!-- /.card-text -->
                </div><!-- /.card-body -->
            </div><!-- /.card -->
        </div><!-- /.container -->
    </div><!-- /.py-5.bg-light -->
{% endblock %}